<h1>Course Listings</h1>

<ul>
  <li>Code: CS111</li>
  <li>Name: Intro to Computer Science</li>
  <li>Description: Lorem ipsum dolor amet slow-carb austin coloring book cliche dreamcatcher plaid pabst next level bitters DIY gluten-free hot chicken shaman keffiyeh green juice. Thundercats hot chicken kale chips snackwave, slow-carb art party vegan YOLO sustainable etsy. XOXO quinoa kogi, small batch cliche meggings pop-up selvage portland skateboard ethical flannel. Gochujang snackwave street art, taxidermy succulents beard bushwick.</li>
</ul>
<ul>
  <li>Code: CS112</li>
  <li>Name: Intro to Computer Science</li>
  <li>Description: Lorem ipsum dolor amet slow-carb austin coloring book cliche dreamcatcher plaid pabst next level bitters DIY gluten-free hot chicken shaman keffiyeh green juice. Thundercats hot chicken kale chips snackwave, slow-carb art party vegan YOLO sustainable etsy. XOXO quinoa kogi, small batch cliche meggings pop-up selvage portland skateboard ethical flannel. Gochujang snackwave street art, taxidermy succulents beard bushwick.</li>
</ul>
